ignoreErrors:
	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $report.
		count: 1
		path: TestFile1.php

	-
		sniff: SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint
		message: 'Method \Forrest79\PhpCsIgnores\Tests\TestFile1::testMethod() does not have native type hint for its parameter $report but it should be possible to add it based on @param annotation "array<mixed>".'
		count: 1
		path: TestFile1.php

	-
		sniff: SlevomatCodingStandard.Files.TypeNameMatchesFileName.NoMatchBetweenTypeNameAndFileName
		message: Class name Forrest79\PhpCsIgnores\Tests\TestFile2 does not match filepath /share/FORREST79/Libs/PHPCS-Ignores/tests/TestFile2.php.
		count: 1
		path: TestFile2.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $report.
		count: 1
		path: TestFile2.php

	-
		sniff: SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint
		message: 'Method \Forrest79\PhpCsIgnores\Tests\TestFile2::testMethod() does not have native type hint for its parameter $report but it should be possible to add it based on @param annotation "array<mixed>".'
		count: 2
		path: TestFile2.php

	-
		sniff: XSlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint
		message: 'Method \Forrest79\PhpCsIgnores\Tests\TestFile2::testMethod() does not have native type hint for its parameter $report but it should be possible to add it based on @param annotation "array<mixed>".'
		count: 2
		path: TestFile2.php

	-
		sniff: XSlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint
		message: 'Method \Forrest79\PhpCsIgnores\Tests\TestFile2::testMethod() does not have native type hint for its parameter $report but it should be possible to add it based on @param annotation "array<mixed>".'
		count: 2
		path: TestFile1.php

